*{
    padding: 0;
    margin: 0;
}
body{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100vh;
}
.cuadro1{
    background-color: aqua;
    grid-column: 1 / 3;
    grid-row: 1 / 4;
}
.cuadro2{
    background-color: blue;
    grid-column: 3 / 5;
    grid-row: 1 / 4;
}
.cuadro3{
    background-color: yellowgreen;
    grid-column: 5 / 7;
    grid-row: 1 / 4;
}
.cuadro4{
    background-color: cadetblue;
    grid-column: 1 / 4;
    grid-row: 4 / 7;
}
.cuadro5{
    background-color: cornflowerblue;
    grid-column: 4 / 7;
    grid-row: 4 / 7;
}