*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  color: rgb(45, 45, 45);
}

.contenedor{
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows:
    80px
    40px
    50px
    1fr
    1fr
    120px;
}

.contenedor > div{
  border: 2px solid rgb(70, 70, 70);
}

.logo{
  grid-column: 1 / 11;
  grid-row: 1 / 3;
  background-color: rgb(255, 204, 213);
}

.buscar{
  grid-column: 11 / 17;
  grid-row: 1 / 2;
  background-color: rgb(255, 229, 204);
}

.f{
  grid-column: 17 / 18;
  grid-row: 1 / 2;
  background-color: rgb(153, 255, 213);
}

.t{
  grid-column: 18 / 19;
  grid-row: 1 / 2;
  background-color: rgb(135, 206, 235);
}

.y{
  grid-column: 19 / 20;
  grid-row: 1 / 2;
  background-color: rgb(255, 193, 7);
}

.castelall{
  grid-column: 11 / 20;
  grid-row: 2 / 3;
  display: flex;
  align-items: stretch;
  padding: 0 20px;
  background-color: rgb(204, 232, 255);
}

.castelall span{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.invis{
  grid-column: 1 / 5;
  grid-row: 3 / 4;
  background-color: rgb(255, 240, 245);
}

.abajoinvis{
  grid-column: 1 / 6;
  grid-row: 4 / 5;
  background-color: rgb(255, 240, 245);
}

.nav{
  grid-column: 5 / 20;
  grid-row: 3 / 4;
  display: flex;
  align-items: stretch;
  padding: 0 20px;
  background-color: rgb(255, 170, 165);
}

.nav span{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.izqbajoinvis{
  grid-column: 1 / 6;
  grid-row: 5 / 6;
  background-color: rgb(255, 240, 245);
}

.video{
  grid-column: 6 / 15;
  grid-row: 4 / 5;
  background-color: rgb(60, 60, 60);
}

.video video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.derlargo{
  grid-column: 15 / 20;
  grid-row: 4 / 6;
  background-image: url("../imagenes/kanye.jpg");
  background-position: center;
  
}

.noticia1{
  grid-column: 6 / 9;
  grid-row: 5 / 6;
  background-color: rgb(186, 225, 255);
}

.noticia2{
  grid-column: 9 / 12;
  grid-row: 5 / 6;
  background-color: rgb(255, 223, 186);
}

.noticia3{
  grid-column: 12 / 15;
  grid-row: 5 / 6;
  background-color: rgb(255, 183, 197);
}

.patrocinadores{
  grid-column: 1 / 20;
  grid-row: 6 / 7;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}

.titulo{
  text-align: center;
}

.logos{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.img1{
  background-color: rgb(255, 204, 213);
}

.img2{
  background-color: rgb(255, 229, 204);
}

.img3{
  background-color: rgb(186, 255, 201);
}

.img4{
  background-color: rgb(186, 225, 255);
}

.img5{
  background-color: rgb(255, 193, 7);
}

.img1,
.img2,
.img3,
.img4,
.img5{
  height: 60px;
  border: 2px solid rgb(70, 70, 70);
}
